<html>
    <head>        
        <link	rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/topnav.css') }}">
    </head>
    <body>
        <div class = "topnav">            
            <a href="/racha">Racha</a>
            <a href="/colocacao">Colocação</a>
            <a href="/artilharia">Artilharia</a>
            <a style="float:right" class="active" href="/logout">Sair</a>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>
