#hidden_div {
    display: none;
}

.btn {
    font-size: 17px;
    font-family: Arial;
    display: inline-block;
    background-color: #ffffff;
    width: 150px;
    height: 40px;
    border-style: outset;
    border-color: rgb(100, 100, 100);
    border-radius: 3px;
  }

  .btn:hover {
    background-color: lightgreen;
    color: #ffffff;
  }